@font-face {
  font-family: "GOTfont";
  src: url("GameOfThrones.ttf");
}

$colour1: goldenrod;

* {
  border: none;
  color: $colour1;
  margin: 0;
  outline: none;
  text-align: center;
  user-select: none;
}

body {
  background: black;
}

h1,
h2,
.button {
  font-family: "GOTfont", "times-new-roman";
  font-weight: 300;
}

.header {
  padding: 21px 0;
}

.input {
  margin: 0 auto;
  max-width: 600px;
  .fire-img {
    width: 210px;
  }
  .form {
    display: grid;
    grid-template-columns: 1fr;
    .form-input {
      border-bottom: 1px solid $colour1;
      margin: 12px 0;
    }
    .input-label,
    .form-input,
    .form-select {
      background: black;
      font-size: 21px;
      text-align: center;
    }
    .form-select {
      margin: 0 auto;
      max-width: 120px;
    }
  }
}

.button {
  background: black;
  cursor: pointer;
  font-size: 21px;
  margin: 0 auto;
}
